Source: @PROJECT_NAME@
Section: libs
Priority: optional
Maintainer: oshkines <oshkines@mail.ru>
Build-Depends: debhelper-compat (= 13), cmake, g++
Standards-Version: 4.6.0

Package: @PROJECT_NAME@
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: @PROJECT_NAME@ – асинхронный SQL-сервер для операций над множествами
 Сервер принимает команды INSERT, TRUNCATE, INTERSECTION,
 SYMMETRIC_DIFFERENCE и возвращает результаты в формате CSV.
 This is a student project for C++ course.