Source: @PROJECT_NAME@
Section: libs
Priority: optional
Maintainer: oshkines <oshkines@mail.ru>
Build-Depends: debhelper-compat (= 13), cmake, g++
Standards-Version: 4.6.0

Package: @PROJECT_NAME@
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: @PROJECT_NAME@ – пбиблиотека для асинхронной обработки команд
 Библиотека предоставляет функции connect, receive, disconnect
 для многопоточной группировки команд в блоки с выводом в консоль и файлы.
 This is a student project for C++ course.