Source: bayan
Section: utils
Priority: optional
Maintainer: oshkines <oshkines@mail.ru>
Build-Depends: debhelper-compat (=13), cmake, libboost-filesystem-dev, libboost-system-dev, libboost-program-options-dev
Standards-Version: 4.6.0

Package: bayan
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: duplicate file finder
 bayan scans directories and finds identical files by content.
 Additional description lines must start with a space.