Source: mapreduce
Section: libs
Priority: optional
Maintainer: oshkines <oshkines@mail.ru>
Build-Depends: debhelper-compat (= 13), cmake, g++
Standards-Version: 4.6.0

Package: mapreduce
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: mapreduce – Вычисляет среднее и дисперсию в парадигме map-reduce.
 This is a student project for C++ course.
